aws/
*.zip
*.tar.gz
*.tar.bz2
.env
*.pyc
*.cpython-*.*
src/__pycache__/
src/*.egg-info/
src/dist/
src/build/
src/.eggs/
src/.pytest_cache/
src/.mypy_cache/
src/.tox/
src/.coverage
src/.vscode/
src/.vscode-test/
app/core/__pycache__/
src/__pycache__/test_infra.cpython-310.pyc
app/core/__pycache__/config.cpython-310.pyc
